*{
    margin: 0px;
    padding: 0px;
}
body{
    position: relative;
    background-color: rgb(43, 13, 54);
    width: 85%;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: white;
    
}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 100px;
    background-color: rgb(31, 8, 41);
    height: 150px;
    width: 85%;
    align-items: center;
    top: 0;
    z-index: 10;
}
header ul{
    display: flex;
    justify-content: center,space-between;
    align-items: center;
    font-size: 20px;
    margin-right: 200px;
}
header .logo{
    text-transform: uppercase;
    font-size: 30px;
padding-left: 20px;}
header ul li{
    list-style: none;
    margin-right: 30px;
    text-transform: uppercase;
}
header ul li a{
    padding: 10px,20px;
    border-radius: 10px;
}
header ul li a:hover{
    background-color: orangered;
    color: aliceblue;
    transition: 1s;

}

/* .courses{
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    height: 50px;
    margin-bottom: 100px;
    direction: rtl;
} */

/* section{
    width: 100%;
    height: 200px;
    align-items: center;
    margin-bottom: 100px;
} */

/* .titleWelcome {
    padding: 0 0 100px 50px;
    align-items: center;
} */
/* section div h1{
    font-size: 50px;
    color: white;
} */
/* section div p{
    font-size: 30px;
    color: white;
} */

/* .cardTitle {
    font-size: 35px;
    font-weight: bold;
    color: white;
} */

/* .cards1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* .card1 {
    width: 45%;
    background-color: rgb(31, 8, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 10px;
} */
/* .card1:hover{
    background-color: orangered;
    color: aliceblue;
    transition: 1s;

} */
/* .quizzes{
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    height: 50px;
    margin-bottom: 100px;
    direction: rtl;
    border-radius: 5px;
    margin-top: 20px;
} */

/* .quizes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.quiz1{
    width: 30%;
    background-color: rgb(31, 8, 41);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 10px;
}
.quiz1:hover{
    background-color: orangered;
    color: aliceblue;
    transition: 1s;

}
.allcourses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cours1{
    width: 45%;
    background-color: rgb(31, 8, 41);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 10px;
}
.cours1:hover{
    background-color: orangered;
    color: aliceblue;
    transition: 1s;
} */
footer {
    background: #1A1E25;
    color: #868c96;
}
footer p {
    padding: 40px 0;
    text-align: center;
    font-size: 20px;
}
footer img {
    width: 30px;
    height: 15px;
}

#scroll-to-top {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  .up{
    position: absolute;
    right: -45px;
    bottom: 73px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    font-family: arial;
    cursor: pointer;
    transition: .2s;
  }
  .up .show{
    right: 10px;
  }
  

.logIn_btn {
    position: absolute;
    right: 10px;
}

.brnFirst {
    width: 100px;
    height: 25px;
    background-color: #e8579d;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
}

.formContainer {
    display: none;
    position: absolute;
    top: 150px;
    right: 5px;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submitForm{
    width: 100px;
    height: 25px;
    background-color: orange;
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
}

.inputTitle {
    font-size: 14px;
    color: wheat;
    font-weight: 500;
}


.box{
    width: 450px;
    height: 390px;
    position: absolute;
    bottom: 45px;
    right: -6px;
    /* transform: translate(-50%, -50%); */
    box-shadow: 5px 5px 20px #000;
    border-radius: 20px;
    display: none;
    flex-direction: column;
  }
  .top{
    width: 100%;
    height: 80px;
    background: #2a2f32;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .top h1{
    color: #fff;
    margin: 0;
    font-size: 30px;
    text-align: center;
    /* padding-left: 20px; */
    padding-top: 10px;
    font-family: monospace;
  }
  .mid{
    width: 100%;
    height: 260px;
    background: #00af9c;
    /* margin-top: -18px; */
  }
  .mid .chat{
    width: 100%;
    /* padding-top: 0px; */
  }
  .mid .chat h2{
    margin: 0;
    font-size: 30px;
    color: #000;
    padding: 30px 20px;
  }
  .mid .chat p{
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    background: #063b36;
    padding: 50px 20px;
    letter-spacing: 0.04em;
  }
  .input{
    width: 100%;
    height: 79px;
    overflow: hidden;
    /* background: #090e11; */
  }
  .input input{
    width: 100%;
    height: 70px;
    font-size: 30px;
    outline: none;
    border: none;
    padding-left: 30px;
    padding-top: 0;
    font-family: cursive;
    background: #090e11;
    color: #fff;
  }

  .iconChat {
    position: absolute;
    right: -45px;
    bottom: 20px;
  }

  .fa-facebook-messenger{
    font-size: 30px;
    color: orangered;
  }


  